
/*color de fondo de todas las pantallas*/
body{
    background-color: #FFF5E6;;
    ;
}

/*Texto de bienvenida*/
h1 {
    color:#D32929;
    text-align: center;
    font-size: 500%;    
    font-family: 'Caesar Dressing';
}

/*Game name*/
h2 {
    color:#7f2122;
    text-align: center;
    font-size: 300%;    
    font-family: 'Caesar Dressing';
}

/*Text and offset*/
p2 {
    color:#FACD1E;
    text-align: justify;
    font-size: 200%;
    font-family: 'Caesar Dressing';    
}

/*New message*/
p3 {
    color:#7f2122;
    text-align: end;
    font-size: 300%;
    font-family: 'Caesar Dressing';    
}